@import url("intro.css");

@import url("background.css");

@import url("footer.css");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  border: solid red;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Pangolin", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
}
/* Styles for the hidden containers */
.hidden-container {
  display: none; /* Hide the containers initially */
  flex-direction: column; /* Align containers vertically */
  align-items: flex-start; /* Align containers to the left */
  width: 100%; /* Take the full width of the container */
  margin: 0;
  border: solid red;
}
.container {
  width: 150px; /* Take the full width of the container */
  height: 150px; /* Set the height of the container */
  margin: 12px;
  background-color: white;
  background-image: center;
  border: solid red;
  box-shadow: 0 10px 10px black;
}
.img {
  background: cover;
  background: center;
  width: 150px;
}

.works-title {
  font-size: 28px;
  font-weight: bold;
  margin: 30px;
  margin-bottom: 6px;
}

.intro-container h1 {
  font-size: 48px;
}

.intro-container h2 {
  font-size: 24px;
}

.hidden-container {
  display: none;
}

#timer{
    color: black;
}
