footer {
    bottom: 0;
    right: 0;
    width: 100%;
    
  }
  
  footer p {
    padding: 10px;
    font-weight: bold;
  }

  .social-icons {
    text-align: center;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
  }

a:hover{
  color: red
}