.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 3px solid greenyellow;
  }

  .box {
    margin: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  