.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 3px solid greenyellow;
  }

  .box {
    margin: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters {
    text-align: center;
    margin-bottom: 20px;
  }
  .filter {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: large;
  }

  