@import url("./background.css");
@import url("./about.css");
@import url("./intro.css");
@import url("./projects.css");

@import url("./contact.css");
@import url("./footer.css");

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

section .title {
  color: greenyellow;
}

/* add space on sections */
.intro-section,
.about-section,
.projects-section,
.contact-section {
    padding-top: 80px; 
}

